* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header top */
.header_top {
  height: 50px;
  background-color: yellow;
  line-height: 50px;
}

.header_top::after {
  content: "";
  display: block;
  clear: both;
}

.header_top li {
  display: inline-block;
  list-style: none;
}
/* /header top */

/* logo */
.header_logo {
  float: left;
  height: 50px;
  width: 20%;
  text-align: center;
}
/* /logo */

/* navigation bar left */
.header_top_nav_left {
  float: left;
  width: 40%
}

.header_top_nav_left a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 0 5px;
}
/* /navigation bar left */

/* navigation bar right */
.header_top_nav_right {
  float: right;
  width: 40%;
}

.header_top_nav_right ul > li {
  padding: 0 8px;

}

.header_top_nav_right a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 0 5px;
}

  .header_top_nav_right button {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    line-height: 50px;
    padding: 2px 15px;
    border-radius: 8px;
    border-color: #fff;
}

.button {
  background: none;
}

.button_green {
  background-color: #7CBB02;
  border: none;
}

/* /navigation bar right */
