* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 600px;
  padding: 20px 0;
  background-color: #0C325A;
}

/* header top */
.header_top {
  width: 90%;
  line-height: 50px;
  margin: auto;
}

.header_top::after {
  content: "";
  display: block;
  clear: both;
}

.header_top li {
  display: inline-block;
  list-style: none;
}
/* /header top */

/* logo */
.header_logo {
  float: left;
  width: 15%;
}
/* /logo */

/* navigation bar left */
.header_top_nav_left {
  float: left;
  width: 45%;
  text-align: left;
}

.header_top_nav_left a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 0 4px;
}
/* /navigation bar left */

/* navigation bar right */
.header_top_nav_right {
  float: left;
  width: 40%;
  text-align: right;
}

.header_top_nav_right ul > li {
  padding: 0 8px;

}

.header_top_nav_right a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
}

  .header_top_nav_right button {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    line-height: 50px;
    padding: 2px 15px;
    border-radius: 8px;
    border-color: #fff;
}

.button {
  background: none;
}

.button_green {
  background-color: #7CBB02;
  border: none;
}

/* /navigation bar right */

/* title and button */
.title .button_green {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  padding: 10px 24px;
  border-radius: 8px;
  border-color: #fff;
}

h1 {
  color: #fff;
  padding: 20px 5px;
}

.title {
  position: absolute;
  bottom: 25%;
  left: 5%;
  width: 90%;
  line-height: 50px;
  margin: auto;
}

.header_image {
  position: absolute;
  height: 400px;
  width: 60%;
  right:  0;
  bottom: 0;
  background-image: url(../img/background-header.png);
  background-size: cover;
}
/* /title and button */

/* main */
/* divider */
.divider{
  height: 80px;
  background-color: #D3D3D3;
  text-align: center;
}
h2 {
  padding: 12px 0;
}

.divider p {
  color: #808080;
}
/* /divider */
/* /main */
